.block{
    width: 300px;
    height: 300px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    border: 3px solid black;
}
.text-block{
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.endNO{
    display: none;
}
#no:hover .startNo{
    display: none;
}
#no:hover .endNO{
    display: block;
}
#no{
    width: 50px;
}
#no:hover{
    cursor: pointer;
}
.buttons{
    display: flex;
    width: 370px;
    margin: 15px;
    justify-content: space-between;
}